<div>
  <section
    #parallaxSection
    class="relative flex justify-center items-center w-full md:mt-[100px] mt-[50px] overflow-visible"
  >
    <div class="md:flex md:flex-row flex-col container-full container-mobile relative gap-7">
      <!-- Text Section -->
      <div class="flex flex-col md:w-1/2 z-10 relative">
        <p
          #parallaxText
          class="md:bebas-neue-heading bebas-neue-mobile text-center md:pt-[80px] pt-4"
        >
          Transform Your Dining Experience with QR Code Ordering
        </p>
        <div class="flex items-center justify-center gap-6 min-h-[80px]">
          <p class=" text-center text-[18px]">
            <span class="text-blue-500 cursor-pointer hover:border-b-blue-300 hover:border-b">Scan. </span>
            <span class="text-pink-500 cursor-pointer hover:border-b-pink-500 hover:border-b">Order. </span>
            <span class="text-orange-500/80 cursor-pointer hover:border-b-orange-500/80 hover:border-b">Enjoy. </span>
          </p>
          <div class="text-center">
            <button (click)="openQRCodeDialog()" class="text-white bg-black p-2 rounded-xl text-[12px] hover:bg-slate-900 hover:shadow-md cursor-pointer">Get Started For free</button>
          </div>
        </div>
      </div>

      <!-- Image Section with Parallax -->
      <div class="md:w-1/2 pt-9 md:pt-2 flex justify-center relative">
        <img
          #parallaxImage
          [src]=heroImg()
          alt="Example Image"
          class="max-w-full h-auto min-h-[350px] md:h-[400px]"
          loading="lazy"
        />
      </div>
    </div>
  </section>
</div>

<div>
  <section #parallaxSection
            class="relative justify-center items-center md:mt-[75px] mt-[0px] overflow-hidden flex p-4">
    <div class="max-w-[450px] text-center flex-col items-center justify-center container-full container-mobile">
      <div>
        <p class="merriweather-regular text-center">Wave (a socially distant) goodbye</p>
        <p class="merriweather-regular text-center">to physical menus and embrace the</p>
        <p class="merriweather-regular text-center">future of contactless mobile menus.</p>
        <p class="cookie-regular text-center text-4xl mt-1 font-light text-gray-800">Say Hello to ScanEats.</p>
      </div>
      <div class="mt-2 text-[12.5px]">
        <p class="quicksand-regular text-center font-light">If your business serves food, ScanEats serves you. ScanEats places the</p>
        <p class="quicksand-regular text-center font-light">power to create elegant, easy-to-update QR code menus for</p>
        <p class="quicksand-regular text-center font-light">restaurants right at your fingertips</p>
      </div>
    </div>
  </section>
</div>



