<section class="relative flex justify-center w-full items-center md:mt-[100px] mt-[50px] overflow-hidden">
    <div class="flex flex-col justify-center items-center gap-10 container-mobile container-full">
        <div class="flex flex-col md:flex-row items-center justify-center gap-10 container-mobile container-full">
            <div>
                <img [ngSrc]= "this.heroImgFirst()" width="500" height="500" alt="hero-secondary-1" class="w-[500px] rounded-xl" priority>
            </div>
            <div>
                <img [ngSrc]="this.heroImgSecond()" width="500" height="500"  alt="hero-secondary-1" class="w-[500px] rounded-xl" priority>
            </div>
        </div>

        <div class="text-center max-w-[450px]">
            <p class="merriweather-regular font-bold text-[21px]">First Taste, <span
                    class=" cookie-regular text-[30px] font-light text-gray-800">New Favorite</span></p>
            <p class="quicksand-regular text-[12.5px] mt-4">Sample a spread of ScanEats below and experience the
                potential of your own menu site for yourself.</p>
        </div>
    </div>

</section>
