<section
  class="flex items-center justify-center mt-[80px] min-h-[700px] md:min-h-[350px] px-4">
  <div class="bg-[radial-gradient(circle,rgba(73,47,134,1)_0%,rgba(33,24,75,1)_34%,rgba(7,9,10,1)_94%)] w-full flex flex-col items-center text-center">
    <div
      class="relative min-h-[540px] w-full max-w-[1200px] flex flex-col items-center text-center container-full container-mobile md:mt-15 mt-12">

      <!-- Heading Section -->
      <div class="flex flex-col items-center justify-center gap-4">
        <div class="flex flex-col gap-2 items-center justify-center">
          <p class="text-purple-300 text-center font-bold">Pricing</p>
          <p class="text-white text-4xl font-bold text-center merriweather-heading shadow-xs">
            Choose the Right Plan for You
          </p>
        </div>
        <p class="text-gray-300 text-center quicksand-regular text-[13px]">
          Select an affordable plan packed with powerful features to enhance your customer experience and streamline
          ordering.
        </p>
      </div>

      <!-- Cards Section -->
      <div
        class="absolute top-[130%] md:top-[80%] transform -translate-y-1/2 gap-5 flex flex-col md:flex-row items-center justify-center text-center w-full">

        <!-- Basic Plan -->
        <div id="first-card" class="h-[450px] w-[350px] bg-white rounded-3xl shadow-xl p-6 flex flex-col gap-4">
          <p class="text-lg font-semibold text-[#2B1E5A] text-start">Basic</p>
          <p class="text-4xl font-bold text-[#090A0F]/95 text-start">$19 <span class="text-sm text-gray-600">/month</span>
          </p>
          <p class="text-gray-600 mt-2 text-start text-sm quicksand-regular flex-grow">
            Ideal for small cafés, food trucks, and startups looking to streamline their ordering process.
          </p>

          <div class="mt-4 text-gray-700 flex flex-col items-start gap-3 text-sm flex-grow">
            <div class="flex flex-row items-center gap-2">
            <span
              class="material-icons size-icon text-[#2B1E5A]">check</span>
              <p class="quicksand-regular"> Unlimited QR Code Scans</p>
            </div>

            <div class="flex flex-row items-center gap-2">
            <span
              class="material-icons size-icon text-[#2B1E5A]">check</span>
              <p class="quicksand-regular">check Customizable Menu</p>
            </div>

            <div class="flex flex-row items-center gap-2">
              <span class="material-icons size-icon text-[#2B1E5A]">check</span>
              <p class="quicksand-regular">check Basic Analytics</p>
            </div>

            <div class="flex flex-row items-center gap-2">
            <span
              class="material-icons size-icon text-[#2B1E5A]">check</span>
              <p class="quicksand-regular">check Email Support</p>
            </div>
          </div>


          <button class=" cursor-pointer quicksand-regular mt-auto bg-[#090A0F] text-white text-sm p-2 rounded-lg hover:bg-[#14112A]">
            Get Started
          </button>
        </div>

        <!-- Pro Plan -->
        <div id="second-card" class="h-[450px] w-[350px] bg-white rounded-3xl shadow-xl p-6 flex flex-col gap-4">
          <p class="text-lg font-semibold text-[#2B1E5A] text-start">Pro</p>
          <p class="text-4xl font-bold text-[#090A0F]/95 text-start">$49 <span class="text-sm text-gray-600">/month</span>
          </p>
          <p class="text-gray-600 mt-2 text-start text-sm quicksand-regular flex-grow">
            Perfect for restaurants and chains that want advanced analytics and seamless integration.
          </p>

          <div class="mt-4 text-gray-700 flex flex-col items-start gap-3 text-sm flex-grow">
            <div class="flex flex-row items-center gap-2">
            <span
              class="material-icons size-icon text-[#2B1E5A]">check</span>
              <p class="quicksand-regular"> Everything in Basic Plan</p>
            </div>

            <div class="flex flex-row items-center gap-2">
            <span
              class="material-icons size-icon text-[#2B1E5A]">check</span>
              <p class="quicksand-regular">Advanced Order Management</p>
            </div>

            <div class="flex flex-row items-center gap-2">
              <span class="material-icons size-icon text-[#2B1E5A]">check</span>
              <p class="quicksand-regular">Sales & Customer Insights</p>
            </div>

            <div class="flex flex-row items-center gap-2">
            <span
              class="material-icons size-icon text-[#2B1E5A]">check</span>
              <p class="quicksand-regular">24/7 Priority Support</p>
            </div>
          </div>
          <button class="cursor-pointer quicksand-regular mt-auto bg-[#090A0F] text-white text-sm p-2 rounded-lg hover:bg-[#14112A]">
            Get Started
          </button>
        </div>
      </div>
    </div>


  </div>
</section>
