<section class="flex items-center justify-center flex-col sticky top-0 backdrop-blur-sm z-20 text-center">
  <div class="w-full">
    <div class="flex justify-center items-center py-3  bg-black text-white text-sm gap-3">
      <p>✨Scan. Order. Enjoy✨</p>
      <div class="inline-flex gap-1 items-center">
        <p class="text-white/60 animate-pulse">Get started for free</p>
        <span class="material-icons size-icon text-white/60 animate-pulse">arrow_forward</span>
      </div>
    </div>
  </div>
  
    <div class="container-full container-mobile">
      <div class="flex justify-between items-center">
        <p class="cursor-pointer bebas-neue-regular p-1">ScanEats</p>
        <i class="fas fa-bars md:hidden cursor-pointer menu"></i>
        <nav class="hidden md:flex gap-6 text-black/60 items-center">
          <a href="" class="align-text-bottom h-[24px]">About</a>
          <a href="" class="align-text-bottom h-[24px]">Features</a>
          <a href="" class="align-text-bottom h-[24px]">Customers</a>
          <a href="" class="align-text-bottom h-[24px]">Updates</a>
          <a href="" class="align-text-bottom h-[24px]">Help</a>
          <button
            class="bg-black text-white px-4 py-2 rounded-lg font-medium inline-flex justify-center items-center tracking-tight">Get
            for free</button>
        </nav>
      </div>
    </div>
</section>