<div class="shadow-2xl min-h-[500px] min-w-[400px] flex flex-col items-center gap-4 justify-center overflow-x-hidden">
  <div class="flex gap-2 items-center">
    <p class="text-xl bebas-neue-regular">ScanEats</p>
    <p class="text-gray-800 quicksand-regular">/ Ordering Made Easy !</p>
  </div>
  <p class="text-md text-gray-800 quicksand-regular"><span>Hi, </span>Scan to View Menu</p>
  <qrcode [qrdata]="data.qrCode" [width]="256"  [errorCorrectionLevel]="'M'"></qrcode>
  <button (click)="closeDialog()" class="quicksand-regular bg-black text-white/90 px-5 py-1 rounded-2xl cursor-pointer text-sm hover:bg-slate-900">Close</button>
</div>
